.container{
      
     
    font-size: 20px;

       width: 252px;  
        overflow: hidden;  
        margin: auto;  
         
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;
}


